// @include transition(all 0.5s ease);

/* Typography */
h1,
.h1 {
  font-weight: normal;
  font-family: "EB Garamond", serif;
}

h2,
.h2 {
  font-weight: normal;
  font-family: "EB Garamond", serif;
}

h3,
.h3 {
  font-weight: normal;
  font-family: "EB Garamond", serif;
}

h4,
.h4 {
  font-weight: normal;
  font-family: "EB Garamond", serif;
}

h5,
.h5 {
  font-weight: normal;
  font-family: "EB Garamond", serif;
}

h6,
.h6 {
  font-weight: normal;
  font-family: "EB Garamond", serif;
}

p {
}

p.small {
  font-variant: small-caps;
}

.vh-100 {
  height: 100vh;
}

.letter-space {
  letter-spacing: 1px;
}

.font-weight-medium {
  font-weight: 600;
}

.img-fit {
  @include img-fit;
}

.underline {
  text-decoration: underline;
}

.line-height-small {
  line-height: 1.3;
}

b,
strong {
  font-weight: bold;
}

.custom-btn {
  color: white;
  background-color: $green;
  font-weight: 700;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14.5px;
  letter-spacing: 1px;

  &:hover {
    color: white;
    background-color: $d-yellow;
  }
}

.hover-yellow {
  &:hover {
    color: $yellow !important;
  }
}

.cursor-pointer:hover {
  cursor: pointer;
}

// Padding
.pl-default {
  padding-left: 100px;
}

.pr-default {
  padding-right: 100px;
}

.px-default {
  padding-left: 100px;
  padding-right: 100px;
}

.pt-default {
  padding-top: 30px;
}

.pb-default {
  padding-bottom: 30px;
}

.py-default {
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-default {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.mb-header {
  margin-bottom: 25px;
}

// Text
.text-green {
  color: $green;
}

.text-black {
  color: black !important;
}

.text-blue {
  color: $blue;
}

.text-white {
  color: $white;
}

.text-red {
  color: red;
}
.text-d-yellow {
  color: $d-yellow;
}
.text-yellow {
  color: $yellow;
}

// Background
.bg-green {
  background-color: $green;
}

.bg-l-green {
  background-color: $l-green;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-l-yellow {
  background-color: $l-yellow;
}

.bg-d-yellow {
  background-color: $d-yellow;
}

.bg-black {
  background-color: black;
}

.bg-transparent {
  background-color: transparent;
}

.rgba-black-medium {
  background-color: rgba(0, 0, 0, 0.5);
}

// Book Now
.entry-content {
  .ft-booking-button-app {
    .ft-btn {
      color: white;
      background: $green !important;
      font-weight: 700;
      margin: 10px 0px;
      border-radius: 5px;
      padding: 10px 15px !important;
      font-family: "Mulish", sans-serif;
      font-size: 14.5px;
      letter-spacing: 1px;
      line-height: 1.5;
    }
  }
}

// Welcome
.welcome {
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $green;
    margin-bottom: 20px;
    font-weight: 600;
  }

  h1 {
    font-size: 42px;
  }

  p {
    color: $green;
    font-size: 20px;
    line-height: 2;
  }

  .sub-header {
    display: inline-block;
    position: relative;
    font-weight: normal;
  }

  .sub-header::after,
  .sub-header::before {
    content: "";
    top: 11px;
    position: absolute;
    width: 50px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    height: 2px;
  }

  .sub-header::before {
    left: -60px;
  }

  .sub-header::after {
    right: -60px;
  }
}

// Widget Default
.so-widget-gka-bundle-2cols-image-text {
  .gka-bundle-2cols-image-text {
    padding-top: 15px;
    padding-bottom: 15px;

    .content-wrap .content {
      padding: 50px;
    }

    .sub-header {
      margin-bottom: 0px;
      font-size: 18px;
    }

    .custom-btn {
      margin-top: 20px;
    }
  }
}

.gka-theme-2cols-slider-text {
  .gka-theme-gallery-swiper {
    .image {
      height: 500px;
    }
  }
  .control-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }
}

// Mobile
@media (max-width: $screen-sm) {
  /* Typography */
  h1,
  .h1 {
    font-size: 32px;
  }

  h2,
  .h2 {
    font-size: 28px;
  }

  h3,
  .h3 {
    font-size: 22px;
  }

  h4,
  .h4 {
    font-size: 18px;
  }

  h5,
  .h5 {
  }

  h6,
  .h6 {
  }

  // Padding
  .pl-default {
    padding-left: 15px;
  }

  .pr-default {
    padding-right: 15px;
  }

  .px-default {
    padding-left: 15px;
    padding-right: 15px;
  }

  .pt-default {
  }

  .pb-default {
  }

  .py-default {
  }

  .p-default {
    padding-left: 15px;
    padding-right: 15px;
  }

  .welcome {
    padding-top: 25px;
    padding-bottom: 25px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 7px;
    }

    h1 {
      font-size: 36px;
    }

    p {
      font-size: 16px;
    }

    .sub-header {
      font-size: 13.5px;
    }

    .sub-header::after,
    .sub-header::before {
      width: 30px;
      top: 8px;
    }

    .sub-header::before {
      left: -40px;
    }

    .sub-header::after {
      right: -40px;
    }
  }

  // Widget Default
  .so-widget-gka-bundle-2cols-image-text {
    .gka-bundle-2cols-image-text {
      .content-wrap .content {
        padding: 15px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .sub-header {
          text-align: center;
        }
      }

      .sub-header {
        font-size: 16px;
      }

      .custom-btn {
        margin-top: 10px;
      }
    }
  }
  .gka-theme-2cols-slider-text {
    .gka-theme-gallery-swiper {
      margin-bottom: 20px;
      .image {
        height: 380px;
      }
    }
  }
}

// Tablet
@media (min-width: $screen-sm) and (max-width: $screen-md) {
  /* Typography */
  h1,
  .h1 {
    font-size: 36px;
  }

  h2,
  .h2 {
    font-size: 32px;
  }

  h3,
  .h3 {
    font-size: 26px;
  }

  h4,
  .h4 {
    font-size: 22px;
  }

  h5,
  .h5 {
  }

  h6,
  .h6 {
  }

  // Padding
  .pl-default {
    padding-left: 30px;
  }

  .pr-default {
    padding-right: 30px;
  }

  .px-default {
    padding-left: 30px;
    padding-right: 30px;
  }

  .pt-default {
  }

  .pb-default {
  }

  .py-default {
  }

  .p-default {
    padding-left: 30px;
    padding-right: 30px;
  }

  .welcome {
    padding-top: 25px;
    padding-bottom: 25px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 10px;
    }

    h1 {
      font-size: 44px;
    }

    .sub-header {
      font-size: 15px;
    }

    .sub-header::after,
    .sub-header::before {
      width: 40px;
      top: 7px;
    }

    .sub-header::before {
      left: -50px;
    }

    .sub-header::after {
      right: -50px;
    }
  }

  // Widget Default
  .so-widget-gka-bundle-2cols-image-text {
    .gka-bundle-2cols-image-text {
      padding-top: 0px;
      padding-bottom: 0px;

      .content-wrap .content {
        padding: 30px;
      }

      .sub-header {
        font-size: 16px;
      }

      .custom-btn {
        margin-top: 10px;
      }
    }
  }
  .gka-theme-2cols-slider-text {
    .gka-theme-gallery-swiper {
      .image {
        height: 380px;
      }
    }
  }
}

// Small Screen
@media (min-width: $screen-md) and (max-width: $screen-lg) {
  // Padding
  .pl-default {
    padding-left: 60px;
  }

  .pr-default {
    padding-right: 60px;
  }

  .px-default {
    padding-left: 60px;
    padding-right: 60px;
  }

  .pt-default {
  }

  .pb-default {
  }

  .py-default {
  }

  .p-default {
    padding-left: 60px;
    padding-right: 60px;
  }
  .gka-theme-2cols-slider-text {
    .gka-theme-gallery-swiper {
      .image {
        height: 420px;
      }
    }
  }
}

// Small Screen
@media (min-width: $screen-lg) and (max-width: 1460px) {
    .gka-theme-2cols-slider-text {
        .gka-theme-gallery-swiper {
          .image {
            height: 450px;
          }
        }
      }
}
