@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700');
@import "partials/variables.scss";
@import "partials/mixins.scss";
@import "partials/normalize.scss";
@import "partials/404.scss";
@import "partials/tpl-content.scss";
@import "ie.scss";
@import "base";
@import "header";
@import "slider";
@import "home";
@import "page-list";
@import "meeting-and-events";
@import "swiper";
@import "gallery";
@import "blog";
@import "real-state";
@import "wpforms";
@import "member-home";
@import "memberpress";
@import "resort-accommodations";
@import "golf-getaways";
@import "packages";
@import "culinary-services";
@import "right-setting-for-any-meeting";
@import "golf-faq";
@import "real-state-about-us";
@import "wptables";
@import "footer";
