h2.wpdt-c {
    text-align: center;
    margin-bottom: 15px;
}

.wpDataTables {
    margin-bottom: 20px;
    th {
        font-weight: bold;
    }
    th, td {
        font-size: 16px !important;
    }
}